<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <p>Antes del render</p>
        @RenderBody()
        <p>Despues del render</p>
    </div>
</body>
</html>
